@{
    Layout = null;
}
<link href="~/common/ifream.css" rel="stylesheet" />
<link href="~/common/app.css" rel="stylesheet" />
<link href="~/common/datetimepicker.min.css" rel="stylesheet" />
<style>
    .body {
        background:none;
    }
    .bf {
        font-size: 2em
    }

    .main_content .panel {
        text-align: center
    }

        .main_content
        .panel:hover .panel-body {
            background: #f1f1f1
        }

        .main_content .panel .panel-footer {
            color: #fff
        }

            .main_content
            .panel .panel-footer a {
                color: #fff
            }

    .main_content a .bf {
        color: #E43D40
    }

    .main_content
    .panel-info .panel-footer {
        background: #39ABD2;
    }

    .main_content .panel-warning
    .panel-footer {
        background: #FFA600
    }

    .main_content .panel-danger .panel-footer {
        background: #D9534F
    }

    .main_content .panel-success .panel-footer {
        background: #328061
    }
</style>
<div class="right-content">
    <h3>
        <span class="current">
            管理首页
        </span>
    </h3>
    <br>
    <div class="main_content">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-6">
                <a href="">
                    <div class="panel panel-info">
                        <div class="panel-body">
                            <span class="bf">
                                123
                            </span>
                        </div>
                        <div class="panel-footer">
                            今日待处理提现
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3  col-sm-6 col-xs-6">
                <a href="">
                    <div class="panel panel-info">
                        <div class="panel-body">
                            <span class="bf">
                                123
                            </span>
                        </div>
                        <div class="panel-footer">
                            今日待处理提现金额
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <a href="">
                    <div class="panel panel-info">
                        <div class="panel-body">
                            <span class="bf">
                                5000万
                            </span>
                        </div>
                        <div class="panel-footer">
                            昨日申请提现
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <a href="">
                    <div class="panel panel-info">
                        <div class="panel-body">
                            <span class="bf">
                                1000万
                            </span>
                        </div>
                        <div class="panel-footer">
                            昨日提现金额
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-6">
                <a href="">
                    <div class="panel panel-danger">
                        <div class="panel-body">
                            <span class="bf">
                                3
                            </span>
                        </div>
                        <div class="panel-footer">
                            今日注册用户
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <a href="">
                    <div class="panel panel-danger">
                        <div class="panel-body">
                            <span class="bf">
                                2
                            </span>
                        </div>
                        <div class="panel-footer">
                            昨日注册用户
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <a href="">
                    <div class="panel panel-danger">
                        <div class="panel-body">
                            <span class="bf">
                                1
                            </span>
                        </div>
                        <div class="panel-footer">
                            未审核用户
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <a href="">
                    <div class="panel panel-danger">
                        <div class="panel-body">
                            <span class="bf">
                                50
                            </span>
                        </div>
                        <div class="panel-footer">
                            代理总数
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-6">
                <a href="">
                    <div class="panel panel-success">
                        <div class="panel-body">
                            <span class="bf">
                                50
                            </span>
                        </div>
                        <div class="panel-footer">
                            今日订单数
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <a href="">
                    <div class="panel panel-success">
                        <div class="panel-body">
                            <span class="bf">
                                123
                            </span>
                        </div>
                        <div class="panel-footer">
                            未付款订单
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <a href="">
                    <div class="panel panel-success">
                        <div class="panel-body">
                            <span class="bf">
                                123
                            </span>
                        </div>
                        <div class="panel-footer">
                            已付款订单
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <a href="">
                    <div class="panel panel-success">
                        <div class="panel-body">
                            <span class="bf">
                                123
                            </span>
                        </div>
                        <div class="panel-footer">
                            昨日订单数
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <br>
    <div class="panel panel-default notifyList">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-3 col-sm-8 col-xs-6">
                    通知记录
                </div>
                <div class="col-md-9 col-sm-4 col-xs-6 text-right">
                    <a href="javascript:;" onclick="loadNotify()" class="btn btn-success btn-xs">
                        <span class="glyphicon glyphicon-refresh">
                        </span>
                        &nbsp;刷新
                    </a>
                    <a href="" class="btn btn-primary btn-xs">
                        <span class="glyphicon glyphicon-option-horizontal">
                        </span>
                        &nbsp;更多
                    </a>
                </div>
            </div>
        </div>
        <div class="panel-body table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            时间
                        </th>
                        <th>
                            平台订单号
                        </th>
                        <th>
                            status
                        </th>
                        <th>
                            响应结果
                        </th>
                        <th>
                            次数
                        </th>
                        <th>
                            手动通知
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
</script>

